body{
	background: #d2d2c1 url("fundo.png");
	font:16px arial, helvetica, sans-serif;

}

h1{

	color: #828271;
	font-size: 1.2em;
}

#principal{

	width: 900px;
}

.menu{

	background: #c5c5b2;
	padding: 18px;

}

.cont{

	background: white;
}

a{

	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.cont{

	padding: 5px;
}

.imag{

	border: 10px solid #c5c5b2;
}

.rodape{
	background: #c5c5b2;
	padding: 20px;
	margin: 1px;
	font: bold;
	text-align: center;
}